body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.img_background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

a {
    text-decoration: none;
    border: 2px solid #000;
    background-image: linear-gradient(#222, #444, #222);
    border-radius: 20px;
    color: #fff;
    padding: 5px 20px;
}

.ativo {
    box-shadow: 5px 5px 5px #000;

}

a:hover {
    transition: calc(0.2s);
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid;
    color: #fff;
    padding: 5px 30px;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    cursor: pointer;
}

/* Corpo do site */
.sectionOne {
    width: 100%;
    background-color: #BDBDBD;
    color: white;
    width: 70vw;
    margin-top: 51px;
    display: flex;
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding-top: 10px;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}